In [27]:
import pandas as pd

#import os
#print(os.getcwd())
#print(os.listdir())
#print(os.listdir("work"))

workdir = "work"
filename = "imagingcourse_CP300_Cells.csv"
basename, extension = os.path.splitext(filename)
outputFilename = basename + "_well" + extension

df = pd.read_csv(os.path.join(workdir, filename))
df.head()

,ImageNumber,ObjectNumber,Metadata_ChannelNumber,Metadata_Column,Metadata_Column.1,Metadata_FileLocation,Metadata_Frame,Metadata_Plate,Metadata_Row,Metadata_Series,...,AreaShape_Zernike_8_0,AreaShape_Zernike_8_2,AreaShape_Zernike_8_4,AreaShape_Zernike_8_6,AreaShape_Zernike_8_8,AreaShape_Zernike_9_1,AreaShape_Zernike_9_3,AreaShape_Zernike_9_5,AreaShape_Zernike_9_7,AreaShape_Zernike_9_9
0,1,1,NaN,1,1,NaN,0,plate1,A,0,...,0.006282,0.019734,0.010097,0.011531,0.002540,0.001639,0.009320,0.012163,0.005541,0.003941
1,1,2,NaN,1,1,NaN,0,plate1,A,0,...,0.010493,0.007572,0.006338,0.004297,0.004182,0.004143,0.001351,0.003608,0.005035,0.003060
2,1,3,NaN,1,1,NaN,0,plate1,A,0,...,0.002994,0.004893,0.002362,0.008944,0.007844,0.002472,0.007713,0.008155,0.001450,0.001793
3,1,4,NaN,1,1,NaN,0,plate1,A,0,...,0.008852,0.005779,0.005488,0.006796,0.005940,0.003098,0.008533,0.004344,0.003559,0.008499
4,1,5,NaN,1,1,NaN,0,plate1,A,0,...,0.004206,0.008749,0.014352,0.003989,0.007255,0.002812,0.010393,0.012767,0.004198,0.002294

In [28]:
# columns to group the results by
group_cols = ['Metadata_Plate', 'Metadata_Well']

# exclude these from averaging
exclude_cols = ['ImageNumber', 'ObjectNumber', 'Metadata_']

measurements = [k for k in list(df.columns.values) if not k.startswith(tuple(exclude_cols))]

In [30]:
# https://stackoverflow.com/questions/35401691/groupby-and-calculate-mean-but-keeping-all-columns

# create a new DataFrame with a MultiIndex consisting of the group_cols
# and a column for the mean of each column in metric_cols
aggs = df.groupby(group_cols)[measurements].mean()
# remove the metric_cols from df because we are going to replace them
# with the means in aggs
df.drop(measurements, axis=1, inplace=True)
# dedupe to leave only one row with each combination of group_cols
# in df
df.drop_duplicates(subset=group_cols, keep='last', inplace=True)
# add the mean columns from aggs into df
df = df.merge(right=aggs, right_index=True, left_on=group_cols, how='right')


df.to_csv(os.path.join(workdir, outputFilename), index=False)